body {
  background-color: #f0f0f0;
}

#animation-container {
  height: 100%;
  width: 100%;
  margin: 40px;
  position: relative;
  background-color: #f0f0f0;
}

#animation-container .parent-ball {
  border: 1px #f0f0f0 solid;
  background-color: #fff;
  position: absolute;
  opacity: 1;
  display: none;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0 0 30px 10px #f0f0f0;
  left: 600px;
  top: 200px;
  width: 220px;
  height: 220px;
  animation: skewing 2s 1.5s ease-in-out infinite;
}

#animation-container .moving-ball {
  border: 1px #f0f0f0 solid;
  background-color: #fff;
  position: absolute;
  opacity: 1;
  display: none;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0 0 30px 10px #f0f0f0;
}

#animation-container .moving-ball >img {
  max-width: 80%;
}